<div class="p-6 border border-cyan-300">
  <div class="items-center -mx-2 md:flex">
    <div class="w-full mx-2">
      <label
        class="
          block
          mb-2
          text-xs
          font-medium
          tracking-widest
          text-yellow-500
          uppercase
        "
        >Name</label
      >

      <input
        class="
          block
          w-full
          px-4
          py-2
          text-lg
          leading-relaxed
          tracking-widest
          text-white
          uppercase
          transition-all
          duration-500
          ease-in-out
          transform
          bg-transparent
          border-b border-cyan-300
          backdrop-filter backdrop-blur-3xl
          focus:border-pink-500 focus:outline-none focus:ring
          lg:text-4xl
        "
        type="text"
      />
    </div>

    <div class="w-full mx-2 mt-4 md:mt-0">
      <label
        class="
          block
          mb-2
          text-xs
          font-medium
          tracking-widest
          text-yellow-500
          uppercase
        "
        >E-mail</label
      >

      <input
        class="
          block
          w-full
          px-4
          py-2
          text-lg
          leading-relaxed
          tracking-widest
          text-white
          uppercase
          transition-all
          duration-500
          ease-in-out
          transform
          bg-transparent
          border-b border-cyan-300
          backdrop-filter backdrop-blur-3xl
          focus:border-pink-500 focus:outline-none focus:ring
          lg:text-4xl
        "
        type="email"
      />
    </div>
  </div>

  <div class="w-full mt-8">
    <label
      class="
        block
        mb-2
        text-xs
        font-medium
        tracking-widest
        text-yellow-500
        uppercase
        texta-xs
      "
      >Message</label
    >

    <textarea
      class="
        block
        w-full
        h-40
        px-4
        py-2
        text-lg
        leading-relaxed
        tracking-widest
        text-white
        uppercase
        transition-all
        duration-500
        ease-in-out
        transform
        bg-transparent
        border-b border-cyan-300
        backdrop-filter backdrop-blur-3xl
        focus:border-pink-500 focus:outline-none focus:ring
        lg:text-4xl
      "
    ></textarea>
  </div>

  <div class="flex justify-center">
    <button
      class="
        flex
        justify-center
        w-full
        px-8
        py-3
        mx-auto
        mt-4
        text-2xl
        font-black
        text-white
        uppercase
        transition-all
        duration-500
        ease-in-out
        transform
        border
        hover:border-cyan-300
        focus:outline-none
        hover:shadow-glitchBox hover:
      "
    >
      Send Message
    </button>
  </div>
</div>
