<!doctype html>
<html lang="en-US">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes" />

		<!-- Primary Meta Tags -->
    <title>{{ title }}</title>
    <meta name="title" content="{{ title }}">
		<meta name="description" content="{{ page_desc }}">

    <!-- Open Graph / Facebook -->

		<meta property="og:type" content="website">
		<meta property="og:url" content="#">
		<meta property="og:title" content="{{ title }}">
		<meta property="og:description" content="{{ page_desc }}">
		<meta property="og:image" content="#">

		<!-- Twitter -->

		<meta property="twitter:card" content="summary_large_image">
		<meta property="twitter:url" content="#">
		<meta property="twitter:title" content="{{ title }}">
		<meta property="twitter:description" content="{{ page_desc }}">
		<meta property="twitter:image" content="#">

		<link rel="stylesheet" type="text/css" href="{{ request.base_url }}static/tail/css/app.css" />
	 	<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
			rel="stylesheet">
			<link href="https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap" rel="stylesheet">

			<link rel="preconnect" href="https://fonts.gstatic.com">
			<link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">

    </head>
	<body class=" bg-gradient-to-r from-gray-700 via-gray-900 to-black">

    {% include '/partials/navigation.html' %}

<section>
  <div
    class="container px-5 py-24 mx-auto md:px-10 lg:px-24 lg:py-24 max-w-7xl"
  >
    <div class="flex flex-wrap px-6 lg:px-0 lg:mb-10">
      <h1
        class="mb-4 text-2xl font-medium text-fuchsia-400 lg:text-6xl title-font font-dafoe lg:mb-0"
      >
        Blog
      </h1>
    </div>

    <div class="grid grid-cols-1 gap-24 mx-auto lg:grid-cols-3">
  {% for blog in articles %}
    <div class="">
      <div class="h-full overflow-hidden shadow-3xl">
        <div class="p-2">
          <p class="text-xs text-gray-300">{{ blog.published_date }}</p>
          <h3
            class="mb-8 text-lg leading-relaxed tracking-widest text-white uppercase  lg:text-4xl md:text-3xl"
          >
          {{ blog.title }}
          </h3>
          <p
            class="mb-3 text-base leading-relaxed text-white  md:text-xl lg:text-base"
          >
          {{ blog.article_text }}
          </p>
          {% if blog.full_name %}
            <a class="inline-flex items-center mt-2">
              <img
                alt="blog"
                src="{{ blog.avatar }}"
                class="flex-shrink-0 object-cover object-center w-12 h-12 rounded-full "
              />
              <span class="flex flex-col flex-grow ml-8">
                <span class="text-xs font-medium text-white">{{ blog.full_name }}</span>
                <span class="text-cyan-300 text-sm tracking-widest mt-0.5 font-dafoe">{{ blog.about }}</span>
              </span>
            </a>
          {% endif %}
          <div class="flex flex-wrap items-center mt-8">
            <a
              href="{{ blog.article_url }}"
              class="inline-flex items-center px-6 py-3 text-base font-semibold text-white uppercase transition duration-500 ease-in-out transform border border-white  hover:shadow-glitchBox md:mb-2 lg:mb-0"
            >
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

    <div class="inline-flex mx-auto mt-16">
      <a
        class="px-8 py-3 text-2xl font-black text-white uppercase transition-all duration-500 ease-in-out transform border hover:border-cyan-300 focus:outline-none hover:shadow-glitchBox hover:"
        href="{{ previous_page }}"
      >
        &nbsp; &#8592; &nbsp;
      </a>
      <a
        class="px-8 py-3 text-2xl font-black text-white uppercase transition-all duration-500 ease-in-out transform border hover:border-cyan-300 focus:outline-none hover:shadow-glitchBox hover:"
        href="{{ next_page }}"
      >
        &nbsp; &#8594; &nbsp;
      </a>
    </div>
  </div>
</section>

{% include '/partials/footer.html' %}

		<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
	</body>
</html>
