{% extends "index.html" %}

{% block hero_head %}
    {{ title }}
{% endblock %}

{% block content %}
<div class="ui container" id="main_space">
    <div class="ui padded basic segment">
        <div class="ui text container">
            <h1 class="ui header" id="about">About Us</h1>
            <p>{{ site_about|safe }}</p>
        </div>
    </div>
    <div class="ui padded basic segment">
        <div class="ui text container">
            <h1 class="ui header" id="contact">Contact Us</h1>
            <form class="ui form contact" method="post" style="margin-top: 2em;">
                <div class="field">
                    <div class="ui labeled input">
                        <div class="ui label">
                            Name
                        </div>
                        <input type="text" name="name" placeholder="Name" required/>
                    </div>
                </div>
                <div class="field">
                    <div class="ui labeled input">
                        <div class="ui label">
                            Email
                        </div>
                        <input type="email" name="email" placeholder="Email" required/>
                    </div>
                </div>
                <div class="field">
                    <label>Message</label>
                    <textarea rows="3" name="message" required></textarea>
                </div>
                <button class="ui secondary button" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block jscript %}
{{ super() }}
    <script>
        $(document).ready(function() {

            $('.ui.form.contact').form({
                fields: {
                    email: {
                        identifier:'email',
                        rules: [
                            {
                                type: 'email',
                                prompt : 'Please Enter your Email'
                            }
                        ]
                    },
                    name: {
                        identifier:'name',
                        rules:[
                            {
                                type: 'empty',
                                prompt: 'Please Enter your Name'
                            }
                        ]
                    },
                    message: {
                        identifier: 'message',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Tell us what you are looking for'
                            }
                        ]
                    }
                },
                inline : true,
                on     : 'blur'
            });

            $('.ui.form.contact').submit(function(e){
                e.preventDefault();
                $(this).form('validate form');
                if($(this).form('is valid')){
                    $(this).addClass('disabled loading');
                    const data = new FormData($(this)[0]);
                    const value = Object.fromEntries(data.entries());
                    function c_c(e){
                        if (this.readyState === 4){
                            response = JSON.parse(this.response);
                            if (this.status < 299){
                                msg(response.data["success"], response["message"]);
                            } else if(this.status >= 400 && this.status < 499){
                                msg(false, response.detail);
                            } else {
                                msg(false, "Internal server error");
                            }
                        }
                        $('.ui.form.contact').removeClass('disabled loading');
                    }
                    request("/admin/contact", 'POST', value, c_c);
                }
            });

        });
    </script>
{% endblock %}
