{% extends "index.html" %}
{% block title %}{{ title }}{% endblock %}

{% block meta_keywords %}{{ tags }}{% endblock %}

{% block stylesheet %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ request.base_url }}static/seui/components/image.min.css">
    <link rel="stylesheet" type="text/css" href="{{ request.base_url }}static/seui/components/message.min.css">
    <link rel="stylesheet" type="text/css" href="{{ request.base_url }}static/seui/components/table.min.css">
    <link rel="stylesheet" type="text/css" href="{{ request.base_url }}static/seui/components/embed.min.css">
    <link rel="stylesheet" type="text/css" href="{{ request.base_url }}static/seui/components/sticky.min.css">
    
    <link rel="stylesheet" type="text/css" href="{{ request.base_url }}static/seui/highlight/styles/base16/atelier-lakeside-light.min.css">
    <!--
    <link rel="stylesheet" type="text/css" href="{{ request.base_url }}static/seui/highlight/styles/github.min.css">
    -->

{% endblock %}

{% block style %}
    {{ super() }}
    .header_link{
        color: grey;
        font-weight: lighter;
    }
    .prec{
        background-color: #EBF8FF;
        border-radius: .28571429rem;
        box-shadow: 0 0 0 1px #276f86 inset,0 0 0 0 transparent !important;
        padding: 5px;
        margin: 15px auto;
    }
    code {
        display: block;
        white-space: pre;
    }
    .grid.bl{
        margin-left: 5px;
        margin-right: 5px;
    }
    .ui.message > .list.icon {
        position: absolute;
        margin: 0;
        top: .78575em;
        right: .5em;
        opacity: .7;
        -webkit-transition: opacity .1s ease;
        transition: opacity .1s ease;
    }
    .image.bl{
        width: 100% !important;
        height: auto !important;
    }
    .ui.sticky.ta{
        z-index: auto !important;
    }
{% endblock %}

{% block site_header %}{{ site_header }}{% endblock %}

{% block nav_items %}
    {% if preview %}
        <a href="" class="item" id="pub">
            {% if pub %}
                UnPublish
            {% else %}
                Publish
            {% endif %}
        </a>
        <a href="{{ editor_url }}" class="item">Editor</a>
        <a href="" class="item" id="discard">Discard</a>
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="ui doubling stackable three column grid bl" id="main_space">
        <div class="left floated left aligned four wide column">
            <div class="ui sticky ta">
                <div class="ui basic segment">
                    <div class="ui info message">
                        <i class="large list alternate icon"></i>
                        <div class="header">
                        Table of contents
                        </div>
                        <ul class="list">
                            {% for teg in data.blocks %}
                                {% if teg.type == "header" %}
                                    <li><a href="#{{ teg.data.text|jslug }}">{{ teg.data.text }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="left aligned eight wide column" id="acontent">
            <div class="ui container clearing basic segment">
                {% for seg in data.blocks %}
                    {% if seg.type == "header" %}
                            <h{{ seg.data.level }} class="ui header ch" id="{{ seg.data.text|jslug }}">{{ seg.data.text }}
                            <a class="header_link" href="#{{ seg.data.text|jslug }}">
                                &nbsp;<i class="linkify icon"></i>
                            </a>
                            </h{{ seg.data.level }}>
                    {% elif seg.type == "paragraph" %}
                        <p>{{ seg.data.text|stag }}</p>
                    {% elif seg.type == "warning" %}
                        <div class="ui small warning message">
                            <div class="header">
                                {{ seg.data.title }}
                            </div>
                            <p>{{ seg.data.message|stag }}</p>
                        </div>
                    {% elif seg.type == "code" %}
                        <div class="prec">
                            <code>{{ seg.data.code|trim }}</code>
                        </div>
                    {% elif seg.type == "delimiter" %}
                        <div class="ui divider"></div>
                    {% elif seg.type == "raw" %}
                        {{ seg.data.html|safe }}
                    {% elif seg.type == "quote" %}
                        <div class="ui small message">
                            <p>{{ seg.data.text|stag }}</p>
                            <h4 class="ui right aligned header">
                                - {{ seg.data.caption|stag }}
                            </h4>
                        </div>
                    {% elif seg.type == "image" %}
                        <div class="ui basic segment">
                            <img class="ui rounded image bl" src="{{ request.base_url }}{{ seg.data.file.url|jpath }}">
                            {% if seg.data.caption|stag != None and seg.data.caption|stag != '' %}
                                <div class="ui bottom attached label">{{ seg.data.caption|stag }}</div>
                            {% endif %}
                        </div>
                    {% elif seg.type == "checklist" %}
                        {% for citem in seg.data["items"] %}
                            <div class="ui list">
                                <div class="item">
                                    {% if citem.checked %}
                                        <i class="check circle icon"></i>
                                    {% else %}
                                        <i class="circle outline icon"></i>
                                    {% endif %}
                                    {{ citem.text }}
                                </div>
                            </div>
                        {% endfor %}
                    {% elif seg.type == "list" %}
                        {% if seg.data.style == "ordered" %}
                            {% set ls = "ol" %}
                        {% else %}
                            {% set ls = "ul" %}
                        {% endif %}
                        <{{ ls }} class="ui list">
                            {% for li in seg.data['items'] %}
                                <li>{{ li|stag }}</li>
                            {% endfor %}
                        </{{ ls }}>
                    {% elif seg.type == "embed" %}
                        <div class="ui vertical segment">
                            <div class="ui embed" data-url="{{ seg.data.embed }}"></div>
                            {% if seg.data.caption|stag != None and seg.data.caption|stag != '' %}
                                <div class="ui bottom attached label">{{ seg.data.caption|stag }}</div>
                            {% endif %}
                        </div>
                    {% elif seg.type == "table" %}
                        {% set table_content = seg.data["content"] %}
                        <table class="ui celled table">
                            {% if seg.data.withHeadings %}
                                <thead>
                                    <tr>
                                        {% for elem in table_content[0] %}
                                            <th>{{ elem }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                {% set table_content = seg.data["content"] | pop1 %}
                            {% endif %}
                            <tbody>
                                {% for content in table_content %}
                                    <tr>
                                        {% for elem in content %}
                                            <td>{{ elem }}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        {{ seg.type }}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="right floated left aligned four wide column">
            {% if tags %}
                <div class="ui secondary segment" style="margin: auto 15px auto 15px;">
                    <i class="ui header">Tags:&nbsp;</i>
                    {% for tag in tags.split(',') %}
                        <div class="ui black label">
                            {{ tag }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% if recent_articles %}
            <div class="ui basic segment">
                <div class="ui message">
                    <div class="header">
                        Recent Posts
                    </div>
                    <ul class="list">
                        {% for raticle in recent_articles %}
                            <li><a href="/{{ raticle.slug }}">{{ raticle.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
            {% if featured_sites %}
            <div class="ui basic segment">
                <div class="ui message">
                    <div class="header">
                        Featured Sites
                    </div>
                    <ul class="list">
                        {% for site in featured_sites %}
                            <li><a href="{{ site.url }}">{{ site.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block jscript %}
{{ super() }}
    <script src="{{ request.base_url }}static/seui/components/embed.min.js"></script>
    <script src="{{ request.base_url }}static/seui/components/sticky.min.js"></script>

    <script src="{{ request.base_url }}static/seui/highlight/highlight.min.js"></script>
    <script>
        $(document).ready(function() {
            document.querySelectorAll('code').forEach((el) => {
                hljs.highlightElement(el);
            });

            $('.ui.embed').embed();

            $('.header_link').click(function(e){
                e.preventDefault();
                var copyText = $(this).prop('href');
                document.addEventListener('copy', function(e) {
                    e.clipboardData.setData('text/plain', copyText);
                    e.preventDefault();
                }, true);

                document.execCommand("copy");

                $(this).find('i').transition('pulse');
            });

            if($(window).width() >= 780){
                $('.ui.sticky.ta').sticky({
                    offset : 80,
                    context: '#acontent'
                });
            }
            $(window).on('resize', function() {
                if($(window).width() >= 780){
                    $('.ui.sticky.ta').sticky({
                        offset : 80,
                        context: '#acontent'
                    });
                } else{
                    $('.ui.sticky.ta').sticky('destroy');
                }
            });
        });
    </script>
{% if preview %}
    <script>
        $(document).ready(function() {
            article_id = getParameterByName('article', window.location.href);
            $("a#pub").click(function(e){
                e.preventDefault();
                value = {
                            "published": true,
                            "edit": true,
                            "article_id": article_id
                        }
                function r_c(e){
                    if (this.readyState === 4){
                        response = JSON.parse(this.response);
                        if (this.status < 299){
                            if(response.data["success"]){
                                if($("a#pub").html().trim() == "Publish"){
                                    $("a#pub").html("UnPublish");
                                    msg(true, "Article Published");
                                }else{
                                    $("a#pub").html("Publish");
                                    msg(true, "Article Unpublished");
                                }
                            }
                        } else if(this.status >= 400 && this.status < 499){
                            msg(false, response.detail);
                        } else {
                            msg(false, "Internal server error");
                        }
                    }
                }
                request("/editor/save", 'POST', value, r_c);
            });
        
            $("a#discard").click(function(e){
                e.preventDefault();
                if(confirm("Delete Article")){
                    value = {
                        "article_id": article_id
                    }
                    function d_c(e){
                        if (this.readyState === 4){
                            response = JSON.parse(this.response);
                            if (this.status < 299){
                                if(response.data["success"]){
                                    msg(true, response.message);
                                    window.location.replace(response.data["redirect_url"]);
                                } else{
                                    msg(false, response.message);
                                }
                            } else if(this.status >= 400 && this.status < 499){
                                msg(false, response.detail);
                            } else {
                                msg(false, "Internal server error");
                            }
                        }
                    }
                    request("/editor/discard", 'POST', value, d_c);
                }
            });
        
        });
    </script>
{% endif %}
{% endblock %}
