{% extends "index.html" %}

{% block head %}
    {{ super() }}
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7520246006793961" crossorigin="anonymous"></script>
{% endblock %}

{% block stylesheet %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ request.base_url }}static/seui/components/image.min.css">
    <link rel="stylesheet" type="text/css" href="{{ request.base_url }}static/seui/components/message.min.css">
    <link rel="stylesheet" type="text/css" href="{{ request.base_url }}static/seui/components/table.min.css">
    <link rel="stylesheet" type="text/css" href="{{ request.base_url }}static/seui/components/embed.min.css">
    <link rel="stylesheet" type="text/css" href="{{ request.base_url }}static/seui/components/sticky.min.css">
    
    <link rel="stylesheet" type="text/css" href="{{ request.base_url }}static/seui/highlight/styles/base16/black-metal-dark-funeral.min.css">    

{% endblock %}

{% block style %}
    {{ super() }}
    .header_link{
        color: grey;
        font-weight: lighter;
    }
    code {
        display: block;
        white-space: pre;
    }
    .grid.bl{
        margin-left: 5px;
        margin-right: 5px;
    }
    .ui.message > .list.icon {
        position: absolute;
        margin: 0;
        top: .78575em;
        right: .5em;
        opacity: .7;
        -webkit-transition: opacity .1s ease;
        transition: opacity .1s ease;
    }
    .bl{
        margin: 3em auto !important;
        padding: 0px !important;
    }
    .ui.sticky.ta{
        z-index: auto !important;
    }
    .inline-code {
        background: rgba(250, 239, 240, 0.78);
        color: #b44437;
        padding: 3px 4px;
        border-radius: 5px;
        margin: 0 1px;
        font-family: inherit;
        font-size: 0.86em;
        font-weight: 500;
        letter-spacing: 0.3px;
        display: inline-block;
    }
    mark {
        background-color: #ADD8E6;
        color: #000000;
        font-weight: lighter;
    }
    .rc {
        border-radius: .3125em !important;
    }
    .metal-bg {
        background-color: #080404 !important;
    }
    #main_space{
        margin-top: 4.8em !important;
        word-spacing: 1px !important;
    }
    .ttle{
        font-size: 3em;
        margin-top: 1em !important;
        margin-bottom: 1em !important;
    }
    .hdr{
        background-color: #c8e4fc !important;
        border-bottom: 1px solid black !important;
    }
    .mali {
        font-size: 1.2em !important;
        margin-bottom: 18px;
    }
    .author_sub{
        margin-top: -10px;
        margin-left: 6em;
        margin-bottom: 10px;
    }
{% endblock %}

{% block nav_items %}
    {% if preview %}
        <a href="!" class="item" id="pub">
            {% if pub %}
                UnPublish
            {% else %}
                Publish
            {% endif %}
        </a>
        <a href="{{ editor_url }}" class="item">Editor</a>
        <a href="!" class="item" id="discard">Discard</a>
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}

{% block hero %}{% endblock %}

{% block content %}
    <div id="main_space">
        <div class="ui center aligned vertical basic segment hdr">
            <div class="ui container">
                <h1 class="ttle">{{ title }}</h1>
            </div>
        </div>
        <div class="ui doubling stackable three column grid" style="margin-top: 1em;">
            <div class="left floated left aligned four wide column">
                {% if author %}
                <div class="ui basic segment">
                    <div class="ui message">
                        <img class="ui tiny avatar image" src="{{ author.avatar }}">
                        <span style="font-size: 1.2em;">{{ author.full_name }}</span>
                        <div class="author_sub">
                            <div class="ui mini icon buttons">
                                <a class="ui red basic button" target="_blank" href="mailto:{{ author.email }}"><i class="large envelope icon"></i></a>
                                {% for key, value in author.social.items() %}
                                    <a class="ui blue basic button" target="_blank" href="{{ value }}"><i class="large {{ key }} icon"></i></a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="ui sticky ta">
                    <div class="ui basic segment">
                        <div class="ui info message">
                            <i class="large list alternate icon"></i>
                            <div class="header">
                            Table of contents
                            </div>
                            <ul class="list">
                                {% for teg in data.blocks %}
                                    {% if teg.type == "header" %}
                                        <li><a href="#{{ teg.data.text|jslug }}">{{ teg.data.text }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="left aligned eight wide column" id="acontent">
                <div class="ui container clearing basic segment">
                    {% for seg in data.blocks %}
                        {% if seg.type == "header" %}
                                <h{{ seg.data.level }} class="ui header ch" id="{{ seg.data.text|jslug }}">{{ seg.data.text }}
                                <a class="header_link" href="#{{ seg.data.text|jslug }}">
                                    &nbsp;<i class="linkify icon"></i>
                                </a>
                                </h{{ seg.data.level }}>
                        {% elif seg.type == "paragraph" %}
                            <p>{{ seg.data.text|safe }}</p>
                        {% elif seg.type == "warning" %}
                            <div class="ui small warning message">
                                <div class="ui header">
                                    {{ seg.data.title }}
                                </div>
                                {{ seg.data.message|stag }}
                            </div>
                        {% elif seg.type == "code" %}
                            <div class="ui inverted segment metal-bg">
                                <code>{{ seg.data.code|trim }}</code>
                            </div>
                        {% elif seg.type == "delimiter" %}
                            <div class="ui divider"></div>
                        {% elif seg.type == "raw" %}
                            {{ seg.data.html|safe }}
                        {% elif seg.type == "quote" %}
                            <div class="ui small message">
                                <i style="font-size: 16px;">{{ seg.data.text|safe }}</i>
                                {% if seg.data.caption|stag != None and seg.data.caption|stag != '' %}
                                    <h4 class="ui right aligned header" style="margin-top: 10px;">
                                        - {{ seg.data.caption|stag }}
                                    </h4>
                                {% endif %}
                            </div>
                        {% elif seg.type == "image" %}
                            <div class="ui basic segment bl">
                                <img class="ui fluid centered rounded image" src="{{ request.base_url }}{{ seg.data.file.url|jpath }}">
                                {% if seg.data.caption|stag != None and seg.data.caption|stag != '' %}
                                    <div class="ui top right attached label">{{ seg.data.caption|stag }}</div>
                                {% endif %}
                            </div>
                        {% elif seg.type == "checklist" %}
                            {% for citem in seg.data["items"] %}
                                <div class="ui list">
                                    <div class="item">
                                        {% if citem.checked %}
                                            <i class="check circle icon"></i>
                                        {% else %}
                                            <i class="circle outline icon"></i>
                                        {% endif %}
                                        {{ citem.text|safe }}
                                    </div>
                                </div>
                            {% endfor %}
                        {% elif seg.type == "list" %}
                            {% if seg.data.style == "ordered" %}
                                {% set ls = "ol" %}
                            {% else %}
                                {% set ls = "ul" %}
                            {% endif %}
                            <{{ ls }} class="ui list mali">
                                {% for li in seg.data['items'] %}
                                    <li>{{ li|safe }}</li>
                                {% endfor %}
                            </{{ ls }}>
                        {% elif seg.type == "embed" %}
                            <div class="ui basic segment bl">
                                <div class="ui rounded embed rc" data-url="{{ seg.data.embed }}"></div>
                                {% if seg.data.caption|stag != None and seg.data.caption|stag != '' %}
                                    <div class="ui top right attached label">{{ seg.data.caption|stag }}</div>
                                {% endif %}
                            </div>
                        {% elif seg.type == "table" %}
                            {% set table_content = seg.data["content"] %}
                            <table class="ui celled table">
                                {% if seg.data.withHeadings %}
                                    <thead>
                                        <tr>
                                            {% for elem in table_content[0] %}
                                                <th>{{ elem }}</th>
                                            {% endfor %}
                                        </tr>
                                    </thead>
                                    {% set table_content = seg.data["content"] | pop1 %}
                                {% endif %}
                                <tbody>
                                    {% for content in table_content %}
                                        <tr>
                                            {% for elem in content %}
                                                <td>{{ elem|safe }}</td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            {{ seg.type }}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="right floated left aligned four wide column">
                {% if tags %}
                    <div class="ui secondary segment" style="margin: 15px 15px auto 15px;">
                        <div class="ui horizontal list" >
                            {% for tag in tags.split(',') %}
                                <div class="item">
                                    <a href="/?search={{ tag|trim }}" target="_blank">
                                        <div class="ui black label">
                                            <i class="hashtag icon"></i>{{ tag|trim }}
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                {% if recent_articles %}
                <div class="ui basic segment">
                    <div class="ui message">
                        <div class="header">
                            Recent Posts
                        </div>
                        <ul class="list">
                            {% for raticle in recent_articles %}
                                <li><a href="/{{ raticle.slug }}">{{ raticle.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}
                {% if featured_sites %}
                <div class="ui basic segment">
                    <div class="ui message">
                        <div class="header">
                            Featured Sites
                        </div>
                        <ul class="list">
                            {% for site in featured_sites %}
                                <li><a href="{{ site.url }}">{{ site.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block jscript %}
{{ super() }}
    <script src="{{ request.base_url }}static/seui/components/embed.min.js"></script>
    <script src="{{ request.base_url }}static/seui/components/sticky.min.js"></script>

    <script src="{{ request.base_url }}static/seui/highlight/highlight.min.js"></script>
    <script>
        $(document).ready(function() {

            if($(window).width() >= 780){
                $('.ui.sticky.ta').sticky({
                    offset : 80,
                    context: '#acontent'
                });
            }
            $(window).on('resize', function() {
                if($(window).width() >= 780){
                    $('.ui.sticky.ta').sticky({
                        offset : 80,
                        context: '#acontent'
                    });
                } else{
                    $('.ui.sticky.ta').sticky('destroy');
                }
            });

            $('.header_link').click(function(e){
                e.preventDefault();
                var copyText = $(this).prop('href');
                document.addEventListener('copy', function(e) {
                    e.clipboardData.setData('text/plain', copyText);
                    e.preventDefault();
                }, true);

                document.execCommand("copy");

                $(this).find('i').transition('pulse');
            });

            document.querySelectorAll('code').forEach((el) => {
                hljs.highlightElement(el);
            });

            $('.ui.embed').embed();

        });
    </script>
{% if preview %}
    <script>
        $(document).ready(function() {
            article_id = getParameterByName('article', window.location.href);
            $("a#pub").click(function(e){
                e.preventDefault();
                value = {
                            "published": true,
                            "edit": true,
                            "article_id": article_id
                        }
                function r_c(response){
                    if($("a#pub").html().trim() == "Publish"){
                        $("a#pub").html("UnPublish");
                        msg(true, "Article Published");
                    }else{
                        $("a#pub").html("Publish");
                        msg(true, "Article Unpublished");
                    }
                }
                request("/editor/save", 'POST', value, r_c, null, true);
            });
        
            $("a#discard").click(function(e){
                e.preventDefault();
                if(confirm("Delete Article")){
                    value = {
                        "article_id": article_id
                    }
                    function d_c(response){
                        window.location.replace(response.data["redirect_url"]);
                    }
                    request("/editor/discard", 'POST', value, d_c);
                }
            });
        
        });
    </script>
{% endif %}
{% endblock %}
