{% extends "index.html" %}
{% block title %}{{ site_header }}{% endblock %}
{% block site_header %}{{ site_header }}{% endblock %}

{% block stylesheet %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ request.base_url }}static/seui/components/message.min.css">
{% endblock %}

{% block style %}
    {{ super() }}
    .article_text{
        min-height: 50px;
        margin: 1em auto 2em auto;
    }
    .button.rmore{
        margin: auto auto 2em auto;
    }
    .button.prev,
    .button.nxt {
        margin: 2em auto;
    }
    a.more{
        font-size: 1.2em;
        font-weight: bold;
    }
    .segment.pg{
        font-size: 1.1em;
        font-weight: lighter;
        margin: 0 0 auto 0 !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    .label.date{
        background-color: #f8ffff !important;
        box-shadow: 0 0 0 1px #a9d5de inset,0 0 0 0 transparent !important;
        color: #276f86 !important;
    }
    h1.hh{
        margin-top: 20px !important;
    }
{% endblock %}
{% block content %}
    <div class="ui doubling stackable two column grid container" id="main_space">
        <div class="left floated left aligned ten wide column">
            {% if articles %}
            {% for article in articles %}
                <div class="ui padded basic segment">
                    <h1 class="ui header hh">{{ article.title }}</h1>
                    <div class="ui top right attached label date">{{ article.published_date }}</div>
                    <p class="article_text">{{ article.article_text|stag }}</p>
                    <a class="more" href="{{ article.article_url }}">Read More <i class="small angle double right icon"></i></a>
                </div>
                <div class="ui divider"></div>
            {% endfor %}
            {% else %}
                <p class="article_text">No Results Found</p>
            {% endif %}
        </div>
        <div class="right floated left aligned five wide column">
            {% if recent_articles %}
            <div class="ui basic segment">
                <div class="ui message">
                    <div class="header">
                        Recent Posts
                    </div>
                    <ul class="list">
                        {% for raticle in recent_articles %}
                            <li><a href="/{{ raticle.slug }}">{{ raticle.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
            {% if featured_sites %}
            <div class="ui basic segment">
                <div class="ui message">
                    <div class="header">
                        Featured Sites
                    </div>
                    <ul class="list">
                        {% for site in featured_sites %}
                            <li><a href="{{ site.url }}">{{ site.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="doubling ten wide column">
            <div class="ui basic clearing right floated segment pg">
                {% if next_page %}
                    <a href="{{ next_page }}">Next Page<i class="angle right icon"></i></a>
                {% endif %}
            </div>
            <div class="ui basic clearing left floated segment pg">
                {% if previous_page %}
                    <a href="{{ previous_page }}"><i class="angle left icon"></i>Previous Page</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
