{% extends "index.html" %}
{% block title %}{{ title }}{% endblock %}
{% block site_header %}{{ site_header }}{% endblock %}

{% block content %}
    <div class="ui text container padded clearing basic segment" id="main_space">
        <form class="ui form login" method="POST">
            <div class="field">
            <label>Email</label>
            <input type="email" name="user_email" placeholder="Email" required/>
            </div>
            <div class="field">
            <label>Password</label>
            <input type="password" name="passwd" placeholder="Password" required/>
            </div>
            <button class="ui secondary button" id="login_s">Submit</button>
        </form>
    </div>
{% endblock %}

{% block jscript %}
{{ super() }}
    <script src="{{ request.base_url }}static/seui/custom_js/c_login.js"></script>
{% endblock %}
