<div class="grid grid-cols-1 gap-24 mx-auto lg:grid-cols-3">
  <div class="">
    <div class="h-full overflow-hidden shadow-3xl">
      <div class="p-2">
        <div class="inline-flex items-center mb-1">
          <strong
            class="text-xs font-medium tracking-widest text-yellow-500 uppercase "
            >outrun</strong
          >
          <p class="ml-4 text-xs text-gray-300">01.04.21</p>
        </div>
        <h3
          class="mb-8 text-lg leading-relaxed tracking-widest text-white uppercase  lg:text-4xl md:text-3xl"
        >
          Those 80's vibes.
        </h3>
        <p
          class="mb-3 text-base leading-relaxed text-white  md:text-xl lg:text-base"
        >
          Just say anything, George, say what ever's natural, the first thing
          that comes to your mind. Take that you mutated son-of-a-bitch. My
          pine, why you. You space bastard, you killed a pine.
        </p>

        <a class="inline-flex items-center mt-2">
          <img
            alt="blog"
            src="https://pbs.twimg.com/profile_images/1315223444729065472/24GP8wBe_400x400.jpg"
            class="flex-shrink-0 object-cover object-center w-12 h-12 rounded-full "
          />
          <span class="flex flex-col flex-grow ml-8 lg:ml-16">
            <span class="text-xs font-medium text-white">Michael J. Fox</span>
            <span
              class="text-cyan-300 text-sm tracking-widest mt-0.5 font-dafoe"
            >
              skater</span
            >
          </span>
        </a>
        <div class="flex flex-wrap items-center mt-8">
          <a
            href="./blog-post.html"
            class="inline-flex items-center px-6 py-3 text-base font-semibold text-white uppercase transition duration-500 ease-in-out transform border border-white  hover:shadow-glitchBox md:mb-2 lg:mb-0"
          >
            Read More
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <div class="h-full overflow-hidden shadow-3xl">
      <div class="p-2">
        <div class="inline-flex items-center mb-1">
          <strong
            class="text-xs font-medium tracking-widest text-yellow-500 uppercase "
            >synthwave</strong
          >
          <p class="ml-4 text-xs text-gray-300">18.05.21</p>
        </div>
        <h3
          class="mb-8 text-lg leading-relaxed tracking-widest text-white uppercase  lg:text-4xl md:text-3xl"
        >
          Blow yuor mind.
        </h3>
        <p
          class="mb-3 text-base leading-relaxed text-white  md:text-xl lg:text-base"
        >
          Just say anything, George, say what ever's natural, the first thing
          that comes to your mind. Take that you mutated son-of-a-bitch. My
          pine, why you. You space bastard, you killed a pine.
        </p>
        <a class="inline-flex items-center mt-2">
          <img
            alt="blog"
            src="https://pbs.twimg.com/profile_images/788139354241794049/Lt8aGdaD_400x400.jpg"
            class="flex-shrink-0 object-cover object-center w-12 h-12 rounded-full "
          />
          <span class="flex flex-col flex-grow ml-8 lg:ml-16">
            <span class="text-xs font-medium text-white">Gabriel perales</span>
            <span
              class="text-cyan-300 text-sm tracking-widest mt-0.5 font-dafoe"
            >
              All Mighty</span
            >
          </span>
        </a>
        <div class="flex flex-wrap items-center mt-8">
          <a
            href="./blog-post.html"
            class="inline-flex items-center px-6 py-3 text-base font-semibold text-white uppercase transition duration-500 ease-in-out transform border border-white  hover:shadow-glitchBox md:mb-2 lg:mb-0"
          >
            Read More
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <div class="h-full overflow-hidden">
      <div class="p-2">
        <div class="inline-flex items-center mb-1">
          <strong
            class="text-xs font-medium tracking-widest text-yellow-500 uppercase "
            >vaporwave</strong
          >
          <p class="ml-4 text-xs text-gray-300">10.03.21</p>
        </div>
        <h3
          class="mb-8 text-lg leading-relaxed tracking-widest text-white uppercase  lg:text-4xl md:text-3xl"
        >
          Miami in a nutshell.
        </h3>
        <p
          class="mb-3 text-base leading-relaxed text-white  md:text-xl lg:text-base"
        >
          Just say anything, George, say what ever's natural, the first thing
          that comes to your mind. Take that you mutated son-of-a-bitch. My
          pine, why you. You space bastard, you killed a pine.
        </p>
        <a class="inline-flex items-center mt-2">
          <img
            alt="blog"
            src="https://i.pinimg.com/originals/e2/79/5a/e2795adbedb9714bd9335c1f97379f04.jpg"
            class="flex-shrink-0 object-cover object-center w-12 h-12 rounded-full "
          />
          <span class="flex flex-col flex-grow ml-8 lg:ml-16">
            <span class="text-xs font-medium text-white">Alfons Åberg</span>
            <span
              class="text-cyan-300 text-sm tracking-widest mt-0.5 font-dafoe"
            >
              Weirdo</span
            >
          </span>
        </a>
        <div class="flex flex-wrap items-center mt-8">
          <a
            href="./blog-post.html"
            class="inline-flex items-center px-6 py-3 text-base font-semibold text-white uppercase transition duration-500 ease-in-out transform border border-white  hover:shadow-glitchBox md:mb-2 lg:mb-0"
          >
            Read More
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
