<div class="w-full overflow-hidden">
    <svg class="w-full h-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1685.86 387.16">
        <polygon points="1683.97 0.5 1005.34 386.66 645.6 386.66 1.81 0.5 1683.97 0.5" fill="none" stroke="#CE5EAF">
        </polygon>
        <path d="M282.17.5,705.55,386.66" fill="none" stroke="#CE5EAF"></path>
        <path d="M562.53.5l203,386.16" fill="none" stroke="#CE5EAF"></path>
        <path d="M842.89.5,825.47,386.66" fill="none" stroke="#CE5EAF"></path>
        <path d="M1123.25.5,885.43,386.66" fill="none" stroke="#CE5EAF"></path>
        <path d="M1403.61.5,945.39,386.66" fill="none" stroke="#CE5EAF"></path>
        <path d="M1033.64,370.69h-414" fill="none" stroke="#CE5EAF"></path>
        <path d="M1071.64,349.69h-488" fill="none" stroke="#CE5EAF"></path>
        <path d="M1125.64,318.69h-593" fill="none" stroke="#CE5EAF"></path>
        <path d="M1208.64,270.69h-756" fill="none" stroke="#CE5EAF"></path>
    </svg>
</div><section>
  <div class="container px-5 mx-auto">
    <div class="flex items-center justify-center">
      <div class="flex flex-col items-center justify-center h-1/2 lg:-mt-44">
        <h1
          class="
            mx-auto
            text-5xl
            leading-none
            tracking-tight
            wicked
            md:-mb-6
            font-monoton
            blog
            lg:text-16xl
          "
        >
          WICKED
        </h1>
        <span
          class="
            text-2xl
            leading-none
            text-pink-500
            transform
            -skew-y-6
            lg:ml-auto lg:-mt-16
            wicked
            lg:text-10xl
            font-dafoe
            md:text-4xl
          "
        >
          Blog</span
        >
      </div>
    </div>
    <div class="py-8 mt-12">
      <p
        class="
          mx-auto
          text-base
          font-medium
          leading-relaxed
          text-center text-white
          lg:w-1/2
        "
      >
        Tailwind CSS templates with a wicked design. Professionally designed and
        100% responsive static templates for startups and personal use.
      </p>
    </div>
    <div
      class="
        mx-auto
        transition
        duration-500
        ease-in-out
        transform
        border-2
        lg:w-1/2
        border-cyan-300
        hover:shadow-glitchBox
      "
    >
      <div
        class="
          flex flex-col
          m-2
          space-y-3
          sm:space-y-0 sm:flex-row sm:justify-center
        "
      >
        <input
          id="email"
          type="text"
          class="w-full px-4 py-2 text-white bg-transparent focus:outline-none"
          placeholder="Email Address"
        />
    
        <button
          class="
            w-full
            p-3
            text-xl
            font-black
            tracking-widest
            text-white
            uppercase
            transition-all
            duration-200
            transform
            border-2 border-pink-400
            hover: hover:bg-cyan-300
            focus:outline-none focus:bg-pink-400
            hover:text-black
          "
        >
          subscribe
        </button>
      </div>
    </div>
  </div>
</section>
